<!-- Launch file for hmi_support_workcell node -->

<launch>
    <node pkg="hmi_support_workcell" name="hmi_support_workcell_node" type="hmi_support_workcell_node.py" output="screen">
        <!-- Workcell's params -->
        <param name="wc_tp_automode" value="/ui/wc_automode" />

        <!-- Belt's params -->
        <param name="belt_tp_automode" value="/ui/belt_automode" />
        <param name="belt_tp_activated" value="/ui/belt_activated" />
        <param name="belt_tp_forward" value="/ui/belt_forward" />
        <param name="belt_tp_speed" value="/ui/belt_speed" />
        <param name="belt_srv_operate_plc" value="/operate_PLC" />
        <param name="belt_srv_operate_plc_timeout" value="1.0" /> <!-- timeout for this service [s], comment it for no timeout-->

        <!-- HMI control topic for Workcell -->
        <param name="tp_ui_str_control" value="/ui/str_control_workcell" />

        <!-- Rate for publishing topics [Hz] -->
        <param name="publishing_rate" value="20" />
    </node>
</launch>